@charset "UTF-8";
div.table {
    position: fixed;
    width: 100%;
    height: 33%;
}

#areaP1 {
    border: 5px solid black;
    background-color: #3FC65D;
    bottom: 0;
    right: 0;
    z-index:-10000;
    overflow-x:auto;
}

#areaTable {
    border: 5px solid black;
    background-color: #F0C37D;
    top: 33%;
    left: 0;
    z-index:-10000;
    animation: intensity 15s infinite;
}

#areaP2 {
    border: 5px solid black;
    background-color: #C24832;
    top: 0;
    left: 0;
    z-index:-10000;
    overflow-x:auto;
}

#discartedDeck {
    border: 0px solid blue;
    position: absolute;
    border-radius: 12px;
    top:40%;
    left:30.6%;
    width:6.85%;
    height:21%;
    box-shadow: 1px 1px 1px #777, 10px 10px 0px 0px #5B5858;
    z-index:1;
}
#principalDeck {
    border: 0px solid blue;
    position: absolute;
    border-radius: 12px;
    top:40%;
    left:60.47%;
    width:6.95%;
    height:21%;
    box-shadow: 1px 1px 1px #777, 10px 10px 0px 0px #5B5858;
}

#popupError{
    position: absolute;
    background: #F8F8F8;
    border: 7px solid #dc2c47;
    border-radius: 15px;
    width: 220px;
    height:auto;
    font-family: 'Chewy';
    font-size: 10px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    top: 43%;
    left: 40.3%;
}
#popupError.active{
    animation: showMessage 1.5s linear forwards;        
}
.card{
    border-radius: 12px;
    border: solid black ;
    cursor: pointer;
    display: block;  
    top: 19%;
    left: 60.25%;
    width: 4%;
    height: 45%;
    padding: 20px 20px;
    position: absolute;
    
    background-image:url('../Images/fondo.png');
    background-size:130% 100%;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    opacity:1;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

@keyframes intensity{
    0%{background-color:#DAAD68; }
    20%{background-color: #C29651;}
    40%{background-color:#B68232; }
    60%{background-color: #A9772A;}
    80%{background-color: #9C6A1D;}
    90%{background-color: #88570B;}
    100%{background-color:#DAAD68;}                
}

@keyframes distributeCards {
    from { 
        opacity: 1;
    } 

    to {
        transform: rotateY(180deg);    
        opacity: 1; 
    }
}

@keyframes showMessage{
    0%{opacity: 0.4;}
    25%{opacity: 0.8;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}    
}