@charset "UTF-8";
/* ------------------------- */
/*	  FONDO DE LA PAGINA	 */
/* ------------------------- */
/*body{
	background: #4C3175;
}  
/*-----------------------------------------*/
/*				BOTONES DE INICIO		   */
/*-----------------------------------------*/
/*----------Boton de Iniciar Partida----------*/
/*===============================================*/
/*.btnStart {
	background-image: url("Images/back2.jpg");
	border-radius: 12px;
	box-shadow: 6px 6px 6px #A51E03;
	background-size: 190px 270px;
	border-radius: 12px;
	cursor: pointer;
	display: block;  
	width: 150px;
	height: 230px;
	padding: 20px 20px;
	transition: all 0.2s ease 0s;
	position: absolute;
	opacity: 0;
	top: 10vh;
	left: 13vw;
  }
*/
/*
.btnStart:active{
	box-shadow: 5px 5px 5px #777, 0px 0px 80px 0px #A41B55;
	transform: translateY(15px);
	background-color: #A41B55;
}
*/
/*
 .btnStart:hover{
	box-shadow: 4px 4px 4px #777, 0px 0px 80px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 20px auto 76px auto;
}
 */
 /* 
 .titleBtn1 {
	transform: rotate(-45deg); 
	color:#A22727;
	vertical-align: middle; 
	display: inline-block;
	font-size: 25px; 
	font-family: 'Raleway', Arial, Helvetica;
	font-weight: lighter;
	position: absolute;
	top: 45%;
	left: 11%;
}*/

/*====================================================*/

/*----------Boton de reanudar partida----------*/
/* .btnLoad {
	background-image: url("Images/reverseTransp3.jpg");
	border-radius: 12px;
	box-shadow: 6px 6px 6px #A51E03;
	background-size: 190px 270px;
	border-radius: 12px;
	color:white;
	cursor: pointer;
	display: block;  
	width: 150px;
	height: 230px;
	padding: 20px 20px;
	transition: all 0.2s ease 0s;
	position: absolute;
	opacity: 0;
	top: 10vh;
	left: 33vw;
  }
*/
/* 
.btnLoad:active{
	box-shadow: 5px 5px 5px #777, 0px 0px 80px 0px #A41B55;
	transform: translateY(15px);
	background-color: #A41B55;
}
*/
/* 
.btnLoad:hover{
	box-shadow: 4px 4px 4px #777, 0px 0px 80px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 20px auto 76px auto;
}
*/ 
/*
.titleBtn2 {
	transform: rotate(-45deg); 
	color:#A22727;
	vertical-align: middle; 
	display: inline-block;
	font-size: 25px; 
	font-family: 'Raleway', Arial, Helvetica;
	font-weight: lighter;
	position: absolute;
	top: 45%;
	left: 11%;
}
*/
/*----------Boton de score----------*/
/* 
.btnScore {
	background-image: url("Images/reverseTransp3.jpg");
	border-radius: 12px;
	box-shadow: 6px 6px 6px #A51E03;
	background-size: 190px 270px;
	border-radius: 12px;
	cursor: pointer;
	display: block;  
	width: 150px;
	height: 230px;
	padding: 20px 20px;
	transition: all 0.2s ease 0s;
	position: absolute;
	opacity: 0;
	top: 10vh;
	left: 53vw;
  }
*/
/* 
.btnScore:active{
	box-shadow: 5px 5px 5px #777, 0px 0px 80px 0px #A41B55;
	transform: translateY(15px);
	background-color: #A41B55;
}
*/
/* 
.btnScore:hover{
	box-shadow: 4px 4px 4px #777, 0px 0px 80px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 20px auto 76px auto;
}
  */
 /*
  .titleBtn3 {
	transform: rotate(-45deg); 
	color:#A22727;
	vertical-align: middle; 
	display: inline-block;
	font-size: 25px; 
	font-family: 'Raleway', Arial, Helvetica;
	font-weight: lighter;
	position: absolute;
	top: 45%;
	left: 11%;
}
*/
/*----------------------------------------------------*/
/*---------------BOTON DE CREDITOS--------------------*/
/*-----------------------------------------------------*/
/* 
.btnCredits {
	background-image: url("Images/reverseTransp3.jpg");
	border-radius: 12px;
	box-shadow: 6px 6px 6px #A51E03;
	background-size: 190px 270px;
	border-radius: 12px;
	cursor: pointer;
	display: block;  
	width: 150px;
	height: 230px;
	padding: 20px 20px;
	transition: all 0.2s ease 0s;
	position: absolute;
	opacity: 0;
	top: 10vh;
	left: 73vw;
  }

 .btnCredits:active{
	box-shadow: 5px 5px 5px #777, 0px 0px 80px 0px #A41B55;
	transform: translateY(15px);
	background-color: #A41B55;
}

 .btnCredits:hover{
	box-shadow: 4px 4px 4px #777, 0px 0px 80px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 20px auto 76px auto;
}
  
 .titleBtn4 {
	transform: rotate(-45deg); 
	color:#A22727;
	vertical-align: middle; 
	display: inline-block;
	font-size: 25px; 
	font-family: 'Raleway', Arial, Helvetica;
	font-weight: lighter;
	position: absolute;
	top: 45%;
	left: 11%;
}
*/
/*----------------------------------------------------*/
/* overlay de la ventana emergente de 'nueva partida' */
/*----------------------------------------------------*/

.overlay {
	background: rgba(0,0,0,.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	backdrop-filter: blur(3px);
}

.overlay.active {
	visibility: visible;
}

/*----------------------------------------------------*/
/*overlay de la ventana emergente de 'reanudar partida'*/
/*----------------------------------------------------*/

.overlayAccess {
	background: rgba(0,0,0,.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	backdrop-filter: blur(3px);
}

.overlayAccess.active{
	visibility:visible;
}

/* ------------------------------------------------------------ 
		Overlay de la ventana emergente 'tabla de score'
 ------------------------------------------------------------ */

 .overlayScore {
	background: rgba(0,0,0,.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	backdrop-filter: blur(3px);
}

.overlayScore.active{
	visibility:visible;
}


/*----------------------------------------------------*/
/*  popup de la ventana emergente de 'nueva partida'  */
/*----------------------------------------------------*/
.popup {
	background: #F8F8F8;
	backdrop-filter: blur(4px);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 7px solid #dc2c47;

	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 450px;
	height:300px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btnEnter {
	background-color:#3cce33;
	border-color:#d8d8d8;
	border-width:3px;
	border-style:solid;
	border-radius:15px;
	font-weight:700;
	font-size:40px; 
	color:white;
	top:90%;
	margin-bottom: 10px;
	opacity: 0;
}

.popup .btnClosePopup {
	background-color:#3cce33;
	border-color:#d8d8d8;
	border-width:3px;
	border-style:solid;
	border-radius:15px;
	font-weight:700;
	font-size:40px; 
	color:white;
	margin-bottom: 10px;
	opacity: 0;
	}


.popup h1 {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}
.popup h2 {
	font-size: 70px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}	

/*----------------------------------------------------*/
/*overlay de la ventana emergente de 'reanudar partida'*/
/*----------------------------------------------------*/
.popupAccess {
	background: #F8F8F8;
	backdrop-filter: blur(4px);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 7px solid #dc2c47;

	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 650px;
	height:300px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
/*
.popupAccess .textBox{
	text-align: center;
	font-size:70px;
	width: 300px;
	height:80px;
	border: 3px solid #A41B55;
	border-radius: 20px 20px 20px 20px;
	
}*/

.popupAccess .btnCloseAccess{
	background-color:#3cce33;
	border-color:#d8d8d8;
	border-width:3px;
	border-style:solid;
	border-radius:15px; 
	font-weight:700;
	font-size:40px;  
	color:white;
}
	
.popupAccess .btnEnterAccess{
	background-color:#3cce33;
	border-color:#d8d8d8;
	border-width:3px; 
	border-style:solid;
	border-radius:15px;
	font-weight:700;
	font-size:40px; 
	color:white;
	top:90%
}

.popupAccess h3{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

/* ------------------------------------------------------------ 
			Popup la ventana emergente 'tabla de score'
 ------------------------------------------------------------ */
.popupScore {
	background-image: url("Images/score.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	backdrop-filter: blur(4px);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 7px solid #dc2c47;

	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 500px;
	height:500px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popupScore .btnCloseScore{
	background-color:#3cce33;
	border-color:#d8d8d8;
	border-width:3px;
	border-style:solid;
	border-radius:15px; 
	font-weight:700;
	font-size:40px;  
	color:white;
}

.popupScore .scoreTable{
	background-color: white;
	width: 50%;
	height: 50px;
	margin: 0 auto;
}

.popupScore th{
	border: 3px solid #6467C7;
}
.popupScore tr:nth-child(odd){
	background-color: #6467C7 ;
	color: #EDEDF9;
}

.popupScore tr:nth-child(even){
	background-color: #8C8ECD;
	color: #EDEDF9;
}
.popupScore h1{
	background-color: #4C3175;
	color:white;
}



/* ------------------------------------------------------------ 
						  A N I M A C I O N E S 						
 ------------------------------------------------------------ */
/*Contenedor de los botones principales*/ 
/* .btnStart { animation: welcomeCards .8s ease .9s forwards; animation-delay: 0.6s}
 .btnLoad { animation: welcomeCards .8s ease .9s forwards; animation-delay: 0.9s}
 .btnScore { animation: welcomeCards .8s ease .9s forwards; animation-delay: 1.2s}
 .btnCredits {animation: welcomeCards .8s ease .9s forwards; animation-delay: 1.5s}
*/

/*
 .btnStart{animation: welcomeCards1Enter 2s linear forwards, welcomeCards2 2s linear forwards, welcomeCards3 3s linear forwards;
					animation-delay: 0.5s;
				}
*/				
/* 
.btnLoad{animation: welcomeCards1Load 2s linear forwards, welcomeCards2 2s linear forwards, welcomeCards3 3s linear forwards;
					animation-delay: 1.2s;
				}
 .btnScore{animation: welcomeCards1Score 2s linear forwards, welcomeCards2 2s linear forwards, welcomeCards3 3s linear forwards;
					animation-delay: 1.7s;
				}
 .btnCredits{animation: welcomeCards1Credits 2s linear forwards, welcomeCards2 2s linear forwards, welcomeCards3 3s linear forwards;
					animation-delay: 2.2s;
				}
*/
/*Popup del boton iniciar partida*/
/*
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h1 { animation: entradaTitulo .8s ease .5s forwards; animation-delay: 0.5s}
.popup.active h2 { animation: zoomIn .8s ease .9s forwards; animation-delay: 1s}
.popup.active .btnClosePopup { animation: zoomIn .8s ease .9s forwards; animation-delay: 1.6s  }
.popup.active .btnEnter { animation: zoomIn .8s ease .9s forwards; animation-delay: 1.6s }
*/
/*Popup del boton reanudar partida*/
/*
.popupAccess.active .btnEnterAccess { animation: zoomIn .8s ease .9s forwards; }
.popupAccess.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popupAccess.active {	transform: scale(1); opacity: 1; }
*/
/**Popup del boton de calificaciones*/
/*
.popupScore.active{transform: scale(1); opacity: 1; }
*/
/*

@keyframes entradaTitulo {
	from { 
		opacity: 0;
		transform: translateY(-100px);
	} 

	to {
		transform: translateY(0);    
		opacity: 1; 
	}
} 

@keyframes welcomeCards1Enter {
	0% { 
		opacity: 1;
		transform: translateZ(500px) translateY(500px) translateX(400px);
	} 
	50%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
}

@keyframes welcomeCards1Load {
	0% { 
		opacity: 1;
		transform: translateZ(500px) translateY(500px) translateX(200px);
	} 
	50%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
}
@keyframes welcomeCards1Score {
	0% { 
		opacity: 1;
		transform: translateZ(500px) translateY(500px) translateX(-200px);
	} 
	50%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
}
@keyframes welcomeCards1Credits {
	0% { 
		opacity: 1;
		transform: translateZ(500px) translateY(500px) translateX(-400px);
	} 
	50%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
}



@keyframes welcomeCards2{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
		transform:rotateY(0deg);
	}
	100%{
		opacity: 1;
		transform:rotateY(180deg);

	}
}
@keyframes welcomeCards3{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
		background-image: url("Images/reverseTransp3.jpg");
	}
}

@keyframes zoomIn {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	to{ 
	opacity:1;
	
}
  
  }
}
*/
