@charset "UTF-8";
.A1{
    --bg-yellow : url('../resources/Images/Classic/yellow/yellow.png');
    --bg-blue : url('../resources/Images/Classic/blue/blue.png');
    --bg-green : url('../resources/Images/Classic/green/green.png');
    --bg-red : url('../resources/Images/Classic/red/red.png');
    --bg-back : url('../resources/Images/Classic/back.png');
    --bg-changeColor : url('../resources/Images/Classic/change.png');
    --bg-plus4 : url('../resources/Images/Classic/plus4.png');
    --bg-block : url('../resources/Images/Classic/block.png');
}
.A2{
    --bg-yellow : url('../resources/Images/Basic/yellow.png');
    --bg-blue : url('../resources/Images/Basic/blue.png');
    --bg-green : url('../resources/Images/Basic/green.png');
    --bg-red : url('../resources/Images/Basic/red.png');
    --bg-back : url('../resources/Images/Basic/back.png');
    --bg-changeColor : url('../resources/Images/Classic/change.png');
    --bg-plus4 : url('../resources/Images/Classic/plus4.png');
    --bg-block : url('../resources/Images/Classic/block.png');
}
.A3{
    --bg-yellow : url('../resources/Images/Minimalist/yellow/yellow.png');
    --bg-blue : url('../resources/Images/Minimalist/blue/blue.png');
    --bg-green : url('../resources/Images/Minimalist/green/green.png');
    --bg-red : url('../resources/Images/Minimalist/red/red.png');
    --bg-back : url('../resources/Images/Minimalist/back.png');
    --bg-changeColor : url('../resources/Images/Minimalist/change.png');
    --bg-plus4 : url('../resources/Images/Minimalist/plus4.png');
    --bg-block : url('../resources/Images/Minimalist/block.png');
    --font-family : font-family: 'Fira Code', monospace;
    --font-transform : none;
    --font-color : white;
}

div.table {
    position: fixed;
    width: 100%;
    height: 33%;
}
#closeBtn{
    position: absolute;
    top: 34.2%;
    left: 0.4%;
    width: 90px;
    height: 30px;
}
#areaP1 {
    border: 5px solid black;
    background-color: #3FC65D;
    bottom: 0;
    right: 0;
    z-index:-10000;
    overflow-x:auto;
}
#areaTable {
    border: 5px solid black;
    background-color: #F0C37D;
    top: 33%;
    left: 0;
    z-index:-10000;
    animation: intensity 15s infinite;
}
#textTurn{
    position: absolute; 
    font-size: 50px;
    font-family: 'Spicy Rice', cursive;
    color: white;
    cursor: default;
    top: 45%;
    left: 43%;
    text-shadow: none;
}
#image{
    position: absolute;
    width: 6%;
    height: auto;
    left: 70%;
    transform: rotate(45deg);
    visibility: hidden;
}

#areaP2 {
    border: 5px solid black;
    background-color: #C24832;
    top: 0;
    left: 0;
    z-index:-10000;
    overflow-x:auto;
}

#discartedDeck {
    border: 0px solid blue;
    position: absolute;
    border-radius: 12px;
    top:40%;
    left:30.6%;
    width:6.85%;
    height:21%;
    box-shadow: 1px 1px 1px #777, 10px 10px 0px 0px #5B5858;
}
#principalDeck {
    border: 0px solid blue;
    position: absolute;
    border-radius: 12px;
    top:40%;
    left:60.47%;
    width:6.95%;
    height:21%;
    box-shadow: 1px 1px 1px #777, 10px 10px 0px 0px #5B5858;
}
/*-------- Pop up de seleccion de color al tirar un carta "cambiar color"*/
.selectCard{
    position: absolute;
    width: 12%;
    height: auto;
    top: 33%;
    left: 14%;
    animation: none;
}
#redSelect{
    left: 33%;
}
#blueSelect{
    left: 52%;
}
#yellowSelect{
    left: 70%;
}
#popupSelectColor {
    position: absolute;
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    width: 450px;
    height:300px;
    transition: .3s ease all;
    transform: scale(0.7);
    font-family: 'Chewy';
    font-size: 10px;
    text-align: center;
    opacity: 0;
    top: 28%;
    left: 70%;
    border: 7px solid #2BA93C;    
}
#popupSelectColor.active{
    opacity: 1;
}

/*---------- Ventana emergente de error dentro de la mesa de juego ----------*/
#popupError{
    position: absolute;
    background: #F8F8F8;
    border: 7px solid #dc2c47;
    border-radius: 15px;
    width: 220px;
    height:auto;
    font-family: 'Chewy';
    font-size: 10px;
    text-align: center;
    opacity: 0;
    top: 43%;
    left: 40.3%;
    z-index: 10;
}

/**/
#popupError.active{
    animation: showMessage 1.5s linear forwards;        
}

#overlayInputName {
    background: rgba(0,0,0,.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
#overlayInputName.active{
    visibility: visible;
    opacity: 1;
}
#popupInputName{
    position: absolute;
    background: #F8F8F8;
    border: 5px solid #dc2c47;
    border-radius: 15px;
    width: 400px;
    height:200px;
    text-align: center;
    opacity: 0;
    top: 33.2%;
    left: 35%;    
}
#popupInputName.active{
    opacity: 1;
}
.littleInput{
    position: absolute;
    font-family: 'Chewy';
    font-size: 17px;
    top: 5%;
    left: 36%;
}
#errorInput{
    left: 25%;
    top: 30%;
    color: red;
    visibility: hidden;
}
#finalScore{
    top:15%;
    left: 32%;
}
#textInput{
    position: absolute;
    text-align: center;
    font-size: 20px;
    top:50%;
    left: 22%;
    width: 55%;
    height: 15%;
    border-radius: 5px;
    border: 3px solid #A41B55;
}
.buttonInputName{
    border-color: black;
    background-color: #A22727;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    font-weight: 15px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    position: absolute;
    width: 20%;
    height: 16%;
    top: 80%;
}
#cancelInputName{
    left: 27%;
}
#acceptInputName{
    left: 53%;
}

.card{
    position: absolute;
    border-radius: 12px;
    border: solid black ;
    cursor: pointer;
    display: inline-block;  
    top: 19%;
    left: 60.25%;
    width: 3.6%;
    height: 47%;
    padding: 20px 20px;
    font-size: 0;
    
    background-image: var(--bg-back);
    background-size:120% 115%;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    opacity:1;
}
#textCard{
    font-size:130%;
    font-family: var(--font-family); 
    text-align: center;
    vertical-align: middle;
    color: var(--font-color); 
    transform: var(--font-transform);
    /* line-height:340%; */
}
#textTurn{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 100%;
    height: auto;
    font-size: 200%;
    font-family: 'Titan One', cursive;
    opacity: 0.4; 
}
#textTurn.active{
    color: #fff;
    opacity: 1;
    font-weight: 900;
    text-shadow:
    0 0 100px #F30808,
    0 0 15px #F30808,
    0 0 25px #F30808,
    0 0 45px #8E1313,
    0 0 85px #8E1313,
    0 0 95px #8E1313,
    0 0 105px #680E0E,
    0 0 145px #680E0E,
    0 0 185px #680E0E;
}

.yellow{
    background-image: var(--bg-yellow);
    font-size:130%;
}
.red{
    background-image: var(--bg-red);
    font-size:130%;
}
.blue{
    background-image: var(--bg-blue);
    font-size:130%;
}
.green{
    background-image: var(--bg-green);
    font-size:130%;
}
.change_color{
    background-image: var(--bg-changeColor);
}
.plus4{
    background-image: var(--bg-plus4);
}

@keyframes intensity{
    0%{background-color:#DAAD68; }
    20%{background-color: #C29651;}
    40%{background-color:#B68232; }
    60%{background-color: #A9772A;}
    80%{background-color: #9C6A1D;}
    90%{background-color: #88570B;}
    100%{background-color:#DAAD68;}                
}

@keyframes distributeCards {
    from { 
        opacity: 1;
    } 

    to {
        transform: rotateY(180deg);    
        opacity: 1; 
    }
}

@keyframes showMessage{
    0%{opacity: 0.4;}
    25%{opacity: 0.8;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}    
}

@keyframes grabAnimation{
    from{
        transform: translateY(-8px);
    }
    to{
    }
}

@media screen and (max-width: 1030px){
	
}