body{
    background: var(--bg);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
img{
    position: absolute;
    width: 20%;
    height: auto;
    top: 60%;
    left: 40%;
    animation: zoomOn 0.7s linear forwards, byeBox 2s linear forwards;
    animation-delay:0s,2s;
}
/*---------------Clase de los botones ------------------*/
.button{
    display: inline-block;
    background-size: 101% 101%;
    border-radius: 12px;
    display: block;
    cursor: pointer; 
    position: absolute;
    width: 9%;
    height: 29%;
    opacity: 1;
}
.button:hover{
    border-radius: 12px;
    box-shadow: 0px 0px 50px 0px var(--shadowDark);
    border-bottom: 15px solid #0C470B;
    transform: translateY(-4px);
    transition: all 0.1s ease 0s;
    margin: -20px auto 76px auto;
}
.button:active{
    border-bottom: none;
	transform: translateY(-1px);
    transition: all 0.1s ease 0s;
    margin: 40px auto 76px auto;
}

/*------------Propiedades de los botones individuales----------*/
div#btnStart{
    background-image:url('img/uno.png');
    animation: welcomeCardA 0.6s linear forwards,welcomeCardA2 0.6s linear forwards, rotateCardA 1s linear forwards;
    animation-delay: 1.3s,1.7s,2s;
}
div#btnLoad{
    background-image: url('img/uno.png');
    animation: welcomeCardB 0.6s linear forwards,welcomeCardB2 0.6s linear forwards, rotateCardB 1s linear forwards;
    animation-delay: 1.3s,1.7s,2.3s;
}
div#btnScore{
    background-image: url('img/uno.png');
    animation: welcomeCardC 0.6s linear forwards,welcomeCardC2 0.6s linear forwards, rotateCardC 1s linear forwards;
    animation-delay: 1.3s,1.7s,2.6s;
}
div#btnCredits{
    background-image: url('img/uno.png');
    animation: welcomeCardD 0.6s linear forwards,welcomeCardD2 0.6s linear forwards, rotateCardD 1s linear forwards;
    animation-delay: 1.3s,1.7s,2.9s;
}

/*----Overlay o contenedor de las ventanas emergentes---------*/
.overlay {
    background: rgba(0,0,0,.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
    opacity: 1;
}

/*----------Popup con contenido a mostrar------------------*/
.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    width: 450px;
    height:300px;
    transition: .3s ease all;
    transform: scale(0.7);
    font-family: 'Chewy';
    font-size: 10px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    border: 7px solid #2BA93C;    
}
.popup.active {
    animation: zoomIn .8s ease .9s forwards;
    animation-delay: 0.2s;
    transform: scale(1);
} 

.buttonPopup {
    border-color:#d8d8d8;
    border-width:3px;
    border-style:solid;
    border-radius:15px;
    font-weight:700;
    font-size:30px; 
    color:white;
    margin-bottom: 10px;
    position: absolute;
    width: 35%;
    height: auto;
    opacity: 0;
}
.buttonPopup.active{
    animation: zoomIn .8s ease .9s forwards;
    animation-delay: 1s;
    transform: scale(1);
}

/*--------- Elementos del popup de inicio de partida ---------*/
#titlePopupBtnStart{
    border-radius: 15px;
    animation: entradaTitulo 2s linear forwards;
    animation-duration: 2.5s;   
}
#popupBtnStart{
    border: 7px solid #2BA93C;
}
#accessCode{
    position: absolute;
    top: 15%;
    left: 18%;
    padding: 3px 10px;
    border-radius: 20px;
    width: 60%;
    opacity: 0;
    font-size:70px; 
    color:black;
    text-shadow: 0px 0px 0px gray, 0px 0px 5px #C1463E;
    letter-spacing: 10px;
}
#btnCloseStart{
    background-color:#3cce33;
    top: 70%;
    left: 10%;
}
#btnEnterGame{
    background-color:#3cce33;
    top: 70%;
    left: 50%;
}
#accessCode.active{
    animation: zoomIn .9s ease .9s forwards;
    animation-delay: 0.7s;  
}

/*--------- Elementos del popup de reanudar de partida ---------*/
#titlePopupBtnLoad{
    animation: entradaTitulo 2s linear forwards;
    animation-duration: 2.5s;
}
#popupBtnLoad{
    border: 7px solid #A9362B;
}
#btnCloseLoad{
    background-color:#A9362B;
    top: 70%;
    left: 10%;
}
#btnEnterToGame{
    background-color:#A9362B;
    top: 70%;
    left: 55%;
}
#textBox{
    position: absolute;
    text-align: center;
    font-size:70px;
    width: 300px;
    height:80px;
    top: 30%;
    left: 20%;
    border: 3px solid #A41B55;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
    opacity: 0;
}
#textBox.active{
    animation: zoomIn 0.3s linear forwards; 
    animation-delay: 1.0s;
}

/*--------- Elementos del popup tabla de calificaciones ---------*/
#popupBtnScore{
    height: 350px;
    background-image: url("img/score.jpg");
    background-repeat:no-repeat;
    background-position:center top;
}
#popupBtnScore{
    border: 7px solid #3941A3;
    background-color:#3941A3;
}
#titlePopupBtnScore{
    background-color: white;
    animation: entradaTitulo 2s linear forwards;
    animation-duration: 2.5s;
}
#scoreTable{
    position: absolute;    
    border: 1px solid black;
    display: block;
    background-color: white;
    font-family: 'Arial';
    font-size: 18px;
    text-align: center;
    width: auto;
    height:auto;
    opacity: 1;
    left: 19%;
    color: black;
    border-collapse: collapse;
}
thead{
    width: 100%;
    background-color: #1C9234;
    color: white;
    border-bottom: solid 5px #0F362D;
}
tr{
    border: hidden;
}
td{
    border: hidden;
}
tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #55BB6A;
    color: white;
    cursor: pointer;
}
#scoreTable.active{
    transform: scale(1);
    opacity: 1;
}
#btnCloseScore{
    width: 20%;
    height: auto;
    top:90%;   
    left: 40%;
    font-size: 20px;
    background-color: #593D9E;
}
/*--------- Elementos del popup de creditos ---------*/
#popupBtnCredits{
    border: 7px solid #C6DA36;
}
#btnCloseCredits{
    background-color: #C6DA36;
}
/*--------- Propiedars del popup de mensaje emergente ---------*/
#popupMessage{
    width: 280px;
    height:140px;
    font-family: 'Chewy';
    font-size: 10px;
}
#btnMessage{
    background-color:#3cce33;
    font-weight:500;
    font-size:20px; 
    color:white;
    width: 18%;
    height: auto;    
    left: 42%;
    top: 80%;
    opacity: 1;
}

/*--------------- Animaciones -----------------------*/
@keyframes zoomOn{
    from {opacity: 0;-webkit-transform: scale3d(0.3, 0.3, 0.3);transform: scale3d(3, 3, 3);}
    to{ opacity:1;}
}
@keyframes byeBox{
    0% {opacity: 1;}
    100%{ top: 100%;opacity: 0;}
}
@keyframes welcomeCardA{
    0% {top:50%;left: 45%;}100%{opacity: 1;top:20%;left: 45%;}
}
@keyframes welcomeCardB{
    0% {top:50%;left: 45%;}100%{opacity: 1;top:20%;left: 45%;}
}
@keyframes welcomeCardC{
    0% {top:50%;left: 45%;}100%{opacity: 1;top:20%;left: 45%;}
}
@keyframes welcomeCardD{
    0% {top:50%;left: 45%;}100%{opacity: 1;top:20%;left: 45%;}
}

@keyframes welcomeCardA2{
    0% {}100%{opacity: 1;top:20%;left: 13%;}
}
@keyframes welcomeCardB2{
    0% {}100%{opacity: 1;top:20%;left: 33%;}
}
@keyframes welcomeCardC2{
    0% {}100%{opacity: 1;top:20%;left: 53%;}
}
@keyframes welcomeCardD2{
    0% {}100%{opacity: 1;top:20%;left: 73%;}
}

@keyframes rotateCardA{
    0% {}100%{background-image: var(--bg-card1);opacity: 1;transform: rotateY(180deg);}
}
@keyframes rotateCardB{
    0% {}100%{background-image: var(--bg-card2);opacity: 1;transform: rotateY(180deg);}
}
@keyframes rotateCardC{
    0% {}100%{background-image: var(--bg-card3);opacity: 1;transform: rotateY(180deg);}
}
@keyframes rotateCardD{
    0% {}100%{background-image: var(--bg-card4);opacity: 1;transform: rotateY(180deg);}
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    
    to{ 
        opacity:1;                
    }
}

@keyframes entradaTitulo {
    from { 
        opacity: 0;
        transform: translateY(-200px);
    } 
    to {
        transform: translateY(0);    
        opacity: 1; 
    }
}

@media screen and (max-width: 980px){
    body{
        background-color: #9D2F28;
    }
    .button{
        width: 12%;
        height: 9%;
    }
}


/*========================== M E N U =======================*/
:root{
    --borderPopup-red: #A9362B;
}

/* Definicon de cada uno de los estilos del tema.*/
.green {
    --bg: #3FD65D;
    --bg-nav: linear-gradient(to right, #dbe1e8, #309E46);
    --bg-styleBox: #f8f8f8;
    --textBox: #12181b;
    --borderPopup-color: 
    --selection-border-color: #0084a5;
    --shadowDark: #12181b;
    --bg-card1: url('img/Minimalista/new.png');
    --bg-card2: url('img/Minimalista/join.png');
    --bg-card3: url('img/Minimalista/score.png');
    --bg-card4: url('img/Minimalista/credits.png');
} 
.dark {
    --bg: #2a2e35;
    --bg-nav: linear-gradient(to right, #2a2e35, #12181b);
    --bg-styleBox: #12181b;
    --textBox: #f8f8f8;
    --selection-border-color: #a82dd1;
    --shadowDark: white;
    --bg-card1: url('img/Basico/new.png');
    --bg-card2: url('img/Basico/join.png');
    --bg-card3: url('img/Basico/score.png');
    --bg-card4: url('img/Basico/credits.png');
}
.default{
    --bg: #5E398A;
    --bgSecundary:#5E398A;
    --bg-nav: linear-gradient(var(--bg), #A884D2);
    --bg-styleBox: transparent;
    --textBox: #f8f8f8;
    --selection-border-color: #a82dd1;
    --shadowDark: white;
    --bg-card1: url('img/Classic/new.png');
    --bg-card2: url('img/Classic/join.png');
    --bg-card3: url('img/Classic/score.png');
    --bg-card4: url('img/Classic/credits.png');
}
#dark::before {
    background: #2a2e35;
}
#green::before {
    background: #ffffff;
}
#default::before {
    background: #43389E;
}
#red::before {
    background: #43389E;
}

/*Cabecera*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Texto del boton menu/tema*/
a {
    color: currentColor;
    text-decoration: none;
}

header {
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}

/* Navegacion*/
/*Cabecera - area del boton tema*/
.generalNav {
    height: 70px;
    width: 100%;
    background-color: var(--bgSecundary);
    color: var(--textBox);
}

/*Prop. generales de la navegacion*/
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

/*Caja desglosada con las opciones de temas*/
.box {
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: var(--bg-styleBox);
    border-top: 4px solid var(--selection-border-color);
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1.5rem;
    margin-top: 2rem;
    padding: 0.5rem;
    top: 3%;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-40%);

    transition: opacity .15s ease-out;
}
/*Activacion de desplegar la caja de estilos*/
.has-dropdown:focus-within .box   {
    opacity: 1;
    pointer-events: auto;
}
.stylesBox a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}
/*Circunsferencia de seleccion de tema*/
.stylesBox a::before {
    content: ' ';
    border: 2px solid var(--selection-border-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}